<% layout("/layouts/boilerplate") %>


    
    <div class="row">
        <div class="col-8 offset-2">

            <form method="post" action="/listings" novalidate class=" needs-validation" enctype="multipart/form-data">
                <h3>Create the new </h3>
                <div class="md-3">
                    <lable for="title" class="form-label">Title</lable>
                    <input type="text" name="listing[title]" class="form-control " placeholder="Enter title" required>
                    <div class="invalid-feedback">please enter title</div>
                </div>
                <div class="md-3">
                    <lable for="description" class="form-label">Description</lable>
                    <textarea rows="10" cols="20" type="text" name="listing[description]" class="form-control "
                        placeholder="enter description" required></textarea>
                        <div class="invalid-feedback">please enter short description </div>
                </div>
                <div class="md-3">
                    <lable for="image" class="form-label"> Upload image </lable>
                    <input type="file" name="listing[image]" class="form-control" required>
                </div>
                <div class="row">
                    <div class="md-3 col-md-4">
                        <lable for="price" class="form-label">Price</lable>
                        <input type="number" name="listing[price]" class="form-control " placeholder="Enter price" required>
                        <div class="invalid-feedback">please enter price </div>

                    </div>
                    <div class="md-3 col-md-8">
                    
                        <lable for="country" class="form-label">Country</lable>
                        <input type="text" name="listing[country]" class="form-control" placeholder="Enter country" required>
                        <div class="invalid-feedback">please enter country </div>
                        
                    </div>
                </div>
                <div class="md-3 ">
                    <lable for="location" class="form-label">Location</lable>
                    <input type="text" name="listing[location]" class="form-control" placeholder="enter location" required>
                    <div class="invalid-feedback">please enter locstion </div>
                    
                </div>
                <div class="md-3 ">
                    <lable for="location" class="form-label">Category</lable>
                    <input type="text" name="listing[category]" class="form-control" placeholder="enter category" required>
                    <div class="invalid-feedback">please enter locstion </div>
                    
                </div>
                <br><br>
                <button class="btn btn-dark">ADD</button>
            </form>
        </div>
    </div>